<p style="color: green"><%= notice %></p>

<h1>Demos</h1>

<div id="demos">
  <% @demos.each do |demo| %>
    <%= render demo %>
    <p>
      <%= link_to "Show this demo", demo %>
    </p>
  <% end %>
</div>

<%= link_to "New demo", new_demo_path %>
